<body>

  <div class="col-11 d-block w-100 p-auto position-center ml-3" style="background-color:lightgreen; height: 110px">
    <div class="row">
      <img src="/images/Design sem nome 2.png" alt="..." class="rounded-circle">
      <div class="navbar-nav bd-navbar-nav flex-row" style="justify-content: center; align-items: center; margin: 0px;">
        <ul class="nav flex-column flex-sm-row p-4">
          <!-- nav flex-column flex-sm-row p-4 -->
          <!-- class="navbar-nav bd-navbar-nav flex-row" -->
          <p style="justify-content: center; align-items: center;">
            <li class="nav-item">
            <a class="nav-link col-md-3 mr-2" aria-current="page" href="/home"
              style="color: black;  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Loja</a>
            </li>
              <li class="nav-item">
            <a class="nav-link col-md-auto mr-2" href="/caes"
              style="color: darkgray; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Cães</a>
            </li>
              <li class="nav-item">
            <a class="nav-link col-md-auto mr-2" href="/gatos"
              style="color: darkgray; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Gatos</a>
            </li>
              <li class="nav-item">
            <a class="nav-link col-md-auto mr-2" href="/repteis"
              style="color: darkgray; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Répteis</a>
            </li>
              <li class="nav-item">
            <a class="nav-link col-md-auto mr-2" href="/passaros"
              style="color: darkgray; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Pássaros</a>
            </li>
            </p>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-11 top-space-md bottom-space-md p-3 ml-3">
    <img src="/images/ofertas.jpg" class="d-block w-100" style="height: 400px; width: 1400px;">
  </div>

<div class="col-10 m-auto">
  <div class="row">
    <div class="card w-auto col-8 ml-3">
      <img class="card-img-center" src="/images/PNG - cao descansando 1.png" alt="Imagem de capa do card">
    </div>
    <!-- <div class="col-8 top-space-md bottom-space-md">
      <img src="/images/PNG - cao descansando 1.png" class="d-block w-100 img-fluid" alt="..."
        style="height: 230px; width: auto;">
    </div> -->
    <div class="col-4 top-space-md bottom-space-md">
      <img src="/images/img-peixes.png" class="d-block w-100 img-fluid" alt="..."
        style="height: 230px; width: auto;">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="/images/img-répteis.png" class="d-block w-100 img-fluid" alt="..."
      style="height: 230px; width: auto;">
    </div>
    <div class="col-4">
      <img src="/images/img-gatos.png" class="d-block w-100 img-fluid" alt="..."
      style="height: 230px; width: auto;">
    </div>
    <div class="col-4">
      <img src="/images/img-pássaros.png" class="d-block w-100 img-fluid" alt="..."
      style="height: 230px; width: auto;">
    </div>
  </div>
</div>

  <div class="container justify-content-center m-auto col-12">
    <div class="card-deck">
      <% cards.forEach(card=> { %>
        <div class="col-7 col-md-3 col-lg-3 mt-3" style="width: 18rem;">
          <div class="card">
            <img src="<%= card.caminho_de_imagem %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <%= card.titulo %>
              </h5>
              <p class="card-text">
                <%= card.texto %>
              </p>
              <a href="#" class="btn btn-primary">
                <%= card.botao %>
              </a>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
</body>