<%- include('./partials/head'); %> 
<body>
    <div class="container-fluid" style="background-color:lightgreen">
        <div class="row">
            <div class="col-8" style="justify-content: center; align-items: center; margin: 0px;">
                <ul>
                    <p style="  justify-content: center; align-items: center;">
                        <a class="col" aria-current="page" href="/home"
                            style="color: darkgray; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Loja</a>
                        <a class="col-1" href="/caes"
                            style="color: black;  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Cães</a>
                        <a class="col-1" href="/gatos"
                            style="color: darkgray; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Gatos</a>
                        <a class="col-1" href="/repteis"
                            style="color: darkgray; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Répteis</a>
                        <a class="col-1" href="/passaros"
                            style="color: darkgray; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Pássaros</a>
                    </p>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-6 d-flex" style="width: 300px; border: 100px;">
        <img src="/images/cachorro_home_carrosel2.jpg" class="d-block w-100" style="height: 210px">
    </div>


    <div class="col-2">
        <div class="container d-flex p-3 m-1 border border-dark rounded-right justify-rigth m-auto ">
            <ul class="navbar-nav">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Checkbox padrão
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                        Checkbox padrão
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                        Checkbox padrão
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                        Checkbox padrão
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                    <label class="form-check-label" for="defaultCheck5">
                        Checkbox padrão
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                    <label class="form-check-label" for="defaultCheck6">
                        Checkbox padrão
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                    <label class="form-check-label" for="defaultCheck7">
                        Checkbox padrão
                    </label>
                </div>
            </ul>
        </div>
    </div>
    </div>
<%- include('./partials/footer'); %> 
</body>
</html>